
      <!-- TO DO: Add upsell features -->
      <div class="sellbar">
        <div class="wrapper">
          <ul>
            <li><a href="">Next Day Delivery <span>Order by 2pm</span></a></li>
            <li><a href="">Reserve Online <span>Pick up in one hour</span></a></li>
            <li><a href="">Find Your Nearest Store <span>Open 7 days</span></a></li>
          </ul>
        </div>
      </div>
