
<li><a href="/" class="site-nav__link">Home</a></li>
<li><a href="/pages/about-us" class="site-nav__link">About</a></li>
<li><a href="/collections/all" class="site-nav__link">Treatments</a></li>
<li><a href="/pages/about-us" class="site-nav__link">Prices</a></li>
<li><a href="/pages/about-us" class="site-nav__link">Gallery</a></li>
<li><a href="/blogs/news" class="site-nav__link">News</a></li>
<li><a href="/pages/about-us" class="site-nav__link">Contact</a></li>
