<div class="helper-section">
    <div class="helper-note">
      <span class="helper-icon"></span>
      <h3>{{ 'homepage.onboarding.modal_title' | t }}</h3>
      <p>{{ 'homepage.onboarding.no_posts_html' | t }}</p>
      <p><a class="admin-btn-primary" href="/admin/articles?tutorial=Frontpage">{{ 'homepage.onboarding.add_post' | t }}</a></p>
    </div>
        
  
    {% for article in blogs['news'].articles limit:3 %}
      <div class="grid__item large--one-third"> 
        {% include 'blog-item' %}
      </div>
    {% endfor %}
    {% for article in blogs['news'].articles limit:3 %}
      <div class="grid__item large--one-third">

        {% include 'blog-item' %}
      </div>
    {% endfor %}
    {% for article in blogs['news'].articles limit:3 %}
      <div class="grid__item large--one-third">

        {% include 'blog-item' %}
      </div>
    {% endfor %}

  

</div>