
    {% for article in blogs['news'].articles limit:3 %}
      <div class="grid__item large--one-third">
        {% include 'blog-item' %}
      </div>
    {% endfor %}
    {% for article in blogs['news'].articles limit:3 %}
      <div class="grid__item large--one-third">
        {% include 'blog-item' %}
      </div>
    {% endfor %}
    {% for article in blogs['news'].articles limit:3 %}
      <div class="grid__item large--one-third">
        {% include 'blog-item' %}
      </div>
    {% endfor %}
