{% include 'template-head' %}

<!-- /templates/page.liquid -->
<div class="grid--rev">

  <div class="grid__item{{ quarters }}">

    <div class="rte">

    {% if settings.breadcrumb_align == 'content' %}{% include 'breadcrumb' %}{% endif %}

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    
      {{ page.content }}
    </div>

    {% include 'date-updated' %}

  </div>

</div>
